<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
{% include head-custom.html %}
</head>
<body>
<div class="container-lg px-3 my-5 markdown-body">
{% if site.title and site.title != page.title %}
<h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
{% endif %}

{{ content }}

<div style="text-align: center; margin-top: 3em; padding-top: 2em; border-top: 1px solid #e1e4e8;">
<p>この記事が役に立ったら押してください（ログイン不要）</p>
<applause-button multiclap="false" style="width: 58px; height: 58px; margin: 0 auto;"></applause-button>
</div>

<div style="margin-top: 2em; padding-top: 2em; border-top: 1px solid #e1e4e8;">
<p>コメント・リアクション（GitHubアカウントが必要です）</p>
<script src="https://giscus.app/client.js"
        data-repo="interlink-jp/faq"
        data-repo-id="R_kgDOR3wsew"
        data-category="Announcements"
        data-category-id="DIC_kwDOR3wse84C6RWV"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="ja"
        crossorigin="anonymous"
        async>
</script>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script>anchors.add();</script>
</body>
</html>
